<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
    <script src="http://cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
    <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.15.0/vuedraggable.min.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

    <title>测试</title>
    <style type="text/css">
    .container {
        margin-top: 2rem;
    }

    .card {
        margin: 10px 0px;
    }

    .card-header:hover {
        cursor: move;
    }

    .card-header.expired,
    .card-header.expired p {
        color: #f03;
    }

    .tabs ul {
        flex-direction: column;
        border-bottom-width: 0px;
    }

    .tabs ul li {
        position: relative;
        width: 100%;
    }

    .tabs a {
        margin-bottom: 0px;
    }

    .tabs ul li a {
        border-bottom-width: 0px;
        border-right: 1px solid #dadada;
    }

    .tabs ul li.is-active a {
        border: 1px solid #dadada;
        border-right-width: 0px;
        border-radius: 4px 0px 0px 4px;
    }

    .tabs ul li.expired a {
        color: #f04;
    }
    </style>
</head>

<body>
    <!-- Tabs模块 -->
    <template id="VTabs">
        <div class="tabs">
            <ul>
                <draggable v-model="proxy_items" :options="{animation:150}" element="li" :no-transition-on-drag="true" @end="onEnd">
                    <li v-for="(item, index) in proxy_items" :class="[ {'is-active': index == active }, {'expired': !item.enabled} ]" @click="switchTab(index)">
                        <a>{{ item.title }}</a>
                    </li>
                </draggable>
            </ul>
        </div>
    </template>
    <!-- 添加模块 -->
    <template id="VAct">
        <div class="columns">
            <div class="column">
                <div class="dropdown" :class="{ 'is-active': actions.open }">
                    <div class="dropdown-trigger">
                        <button @click="switchDropdown" class="button" aria-haspopup="true" aria-controls="dropdown-menu">
                            <span>添加模块</span>
                            <span class="icon is-small">
                                <i class="fas fa-angle-down" aria-hidden="true"></i>
                            </span>
                        </button>
                    </div>
                    <div class="dropdown-menu" id="dropdown-menu" role="menu">
                        <div class="dropdown-content">
                            <a href="#" class="dropdown-item" v-for="(item, key) in actions.data" @click="chooseModule(key)">{{ item.desc }}</a>
                        </div>
                    </div>
                </div>
                <button class="button is-primary" @click="toggleAll">{{ actions.collapse_all ? "展开全部":"折叠全部" }}</button>
                <button class="button is-danger" @click="deleteTab">删除页签</button>
                <button class="button is-warning" @click="saveConfig">保存配置</button>
            </div>
        </div>
    </template>
    <!-- 基础信息模块 -->
    <template id="VModuleBasic">
        <div class="card">
            <header class="card-header" :class="{ 'expired': !info.enabled }">
                <p class="card-header-title dragger">
                    {{ info.data.title }}
                </p>
                <span class="card-header-icon" aria-label="more options">
                    <span class="icon" @click="info.state.collapse = !info.state.collapse" v-show="!info.state.collapse">
                        <i class="fa fa-envelope-open" aria-hidden="true"></i>
                    </span>
                <span class="icon" @click="info.state.collapse = !info.state.collapse" v-show="info.state.collapse">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                    </span>
                <span class="icon" @click="deleteModule(idx)" title="删除模块,危险">
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </span>
                </span>
            </header>
            <div class="card-content" v-show="!info.state.collapse">
                <div class="columns">
                    <div class="column is-two-fifths">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">文案</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input class="input" v-model="info.data.title" type="email" placeholder="标题文案">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="column is-two-fifths">
                        <div class="field is-horizontal">
                            <div class="field-label is-normal">
                                <label class="label">地址</label>
                            </div>
                            <div class="field-body">
                                <div class="field">
                                    <p class="control">
                                        <input class="input" v-model="info.data.url" type="email" placeholder="跳转链接">
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </template>
    <!-- Tab详情 -->
    <template id="tabInfo">
        <div class="columns">
            <div class="column is-one-fifth">
                <input class="input" type="email" v-model="info.title" placeholder="标题文案">
            </div>
            <div class="column is-one-fifth">
                <button :class="['button', info.enabled ? 'is-warning' : 'is-primary']" @click="changeTabState">{{ info.enabled ? "禁用当前页签" : "启用当前页签" }}</button>
            </div>
        </div>
    </template>
    <section id="app">
        <div class="container">
            <div class="columns">
                <div class="column is-one-fifth">
                    <div style="text-align: center;margin-bottom: 10px;">
                        <button class="button is-white" @click="addTab">添加页签</button>
                    </div>
                    <v-tabs :items="page_data" :active="page_state.active"></v-tabs>
                </div>
                <div class="column is-four-fifths">
                    <v-act :actions="page_action"></v-act>
                    <h4 class="subtitle is-5">页签信息</h4>
                    <v-tab-info :info="page_data[page_state.active]"></v-tab-info>
                    <h4 class="subtitle is-5">模块列表</h4>
                    <draggable v-model="page_data[page_state.active].modules" :options="{animation:150,handle:'.dragger'}" :no-transition-on-drag="true" @start="drag=true" @end="drag=false">
                        <component :info="module" :idx="index" v-for="(module, index) in page_data[page_state.active].modules" :is="module.module_type" :key="module.key">
                        </component>
                    </draggable>
                </div>
            </div>
        </div>
    </section>
    <script type="text/javascript">
    var store = {
        state: {
            "drag": false,

            // 页面基础信息
            "page_info": {},

            // 页面按钮状态等
            "page_state": {
                "active": 0,
            },

            // 整个页面的数据结构
            "page_data": [
                {
                    "id": 1,
                    "title": "第一集",
                    "enabled": true,
                    "modules": [{
                        "id": 1,
                        "key": 1,
                        "module_type": "v-module-basic",
                        "enabled": false,
                        "data": {
                            "title": "基础模块",
                            "url": "http://www.baidu.com",
                        },
                        "state": {
                            "collapse": false
                        }
                    }]
                },
                {
                    "id": 2,
                    "title": "第二集",
                    "enabled": true,
                    "modules": []
                },
                {
                    "id": 3,
                    "title": "第三集",
                    "enabled": true,
                    "modules": []
                },
                {
                    "id": 4,
                    "title": "第四集",
                    "enabled": false,
                    "modules": []
                },
                {
                    "id": 5,
                    "title": "第五集",
                    "enabled": true,
                    "modules": []
                },
                {
                    "id": 6,
                    "title": "第六集",
                    "enabled": true,
                    "modules": []
                },
                {
                    "id": 7,
                    "title": "第七集",
                    "enabled": true,
                    "modules": []
                },
                {
                    "id": 8,
                    "title": "第八集",
                    "enabled": true,
                    "modules": []
                },
                {
                    "id": 9,
                    "title": "第九集",
                    "enabled": true,
                    "modules": []
                }
            ],

            // 页面的备份数据，误操作，还原用的
            "page_bak": null,

            // 页面动作
            "page_action": {
                "open": false,
                "data": {
                    "basic_module": {
                        "id": null,
                        "key": null,
                        "module_type": "v-module-basic",
                        "desc": "基础信息模块",
                        "enabled": true,
                        "data": {
                            "title": "基础模块",
                            "url": "http://www.baidu.com",
                        },
                        "state": {
                            "collapse": false
                        }
                    }
                },
                "collapse_all": false
            }
        },

        // 切换Tab展示
        switchTab: function(idx) {
            this.state.page_state.active = idx;
        },

        // 下拉菜单的展示
        switchDropdown: function(st) {
            this.state.page_action.open = st;
        },

        // 展开/折叠全部
        toggleAll: function() {
            var i = 0;
            var st = this.state;
            st.page_action.collapse_all = !st.page_action.collapse_all;
            for (; i < st.page_data[st.page_state.active].modules.length; i++) {
                st.page_data[st.page_state.active].modules[i].state.collapse = st.page_action.collapse_all;
            }
        },

        // 添加Tab页
        addTab: function() {
            this.state.page_data.unshift({
                "id": null,
                "title": "默认文案",
                "enabled": false,
                "modules": []
            });
            this.switchTab(0);
        },

        // 添加一个模块
        addModule: function(module) {
            var st = this.state;
            if (st.page_action["data"][module]) {
                var obj = JSON.parse(JSON.stringify(st.page_action["data"][module]));
                obj["key"] = st.page_data[st.page_state.active].modules.length + 1;
                st.page_data[st.page_state.active].modules.push(obj);
            }
            st.drag = false;
        },

        // 删除一个模块
        deleteModule: function(idx) {
            this.state.page_data[this.state.page_state.active].modules.splice(idx, 1);
        },

        // 重新排序Tab顺序
        sortPage: function(oldPage, newPage) {
            this.state.page_data = newPage;
            this.state.page_bak = oldPage;
        },

        // 切换Tab的状态
        changeTabState: function() {
            var oldSt = this.state.page_data[this.state.page_state.active].enabled;
            this.state.page_data[this.state.page_state.active].enabled = !oldSt;
        },

        // 删除Tab
        deleteTab: function() {
            this.state.page_data.splice(this.state.page_state.active, 1);
            this.switchTab(0)
        },

        // 保存当前页签配置
        saveConfig: function() {
            var cnf = this.state.page_data[this.state.page_state.active];
            axios.post("/module/" + cnf.id, {
                config: cnf
            }).then(function (response) {
                console.log(response)
            }).catch(function (error) {

            });
        }

    };

    Vue.component("v-tabs", {
        template: "#VTabs",
        props: ["items", "active"],
        data: function() {
            return {
                "proxy_items": this.items
            }
        },
        methods: {
            switchTab: function(idx) {
                store.switchTab(idx);
            },
            onEnd: function(evt) {
                if (this.active == evt.oldIndex) {
                    store.switchTab(evt.newIndex);
                }

                store.sortPage(this.items, this.proxy_items);
            }
        }
    });

    Vue.component("v-tab-info", {
        template: "#tabInfo",
        props: ["info"],
        methods: {
            changeTabState: function() {
                store.changeTabState();
            }
        }
    })

    Vue.component("v-act", {
        template: "#VAct",
        props: ["actions"],
        methods: {
            switchDropdown: function() {
                store.switchDropdown(!this.actions.open);
            },
            chooseModule: function(module) {
                console.log(module);
                store.switchDropdown(false);
                store.addModule(module);

            },
            toggleAll: function() {
                store.toggleAll();
            },
            deleteTab: function() {
                if (confirm("删除页签，会删除此页签的所有配置。确定继续？")) {
                    store.deleteTab();
                }
            },
            saveConfig: function() {
                store.saveConfig();
            }
        }
    });

    Vue.component("v-module-basic", {
        template: "#VModuleBasic",
        props: ["info", "idx"],
        methods: {
            deleteModule: function(idx) {
                if (confirm("确定删除该模块吗？")) {
                    store.deleteModule(idx)
                }
            }
        }
    });

    var vm = new Vue({
        el: "#app",
        data: store.state,
        methods: {
            addTab: function() {
                store.addTab();
            }
        }
    });
    </script>
</body>

</html>